.lb-post-elements-formatted {

    .no-spaces {
        margin: 0 !important;
        padding: 0 !important;
    }

    p:empty {
        display: none;
    }

    a {
        font-weight: 500;
        color: map-get($colors, "black");
        letter-spacing: 0.02em;
    }

    h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin-bottom: rem(20);
    }

    ul {
        font-weight: 300;

        li {
            padding-left: 15px;

            &::before {
                content: '-';
                position: absolute;
                transform: translateX(-15px);
            }
        }
    }

    &--small {
        h1, h2, h3, h4, h5, h6, p, ol, ul {
            font-size: rem(14);
            line-height: rem(19);
        }
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}
