footer {
    z-index: 1;
}



.lb-prefooter {
    background-color: map-get($colors, "white");
    padding-top: 100px;

    &--line {
        padding-top: 0;

        @include mq($until: md) {
            padding-top: 100px;
        }

        .lb-prefooter {
            &__desktop {
                margin-top: 100px;
                padding-top: 100px;
                border-top: 1px solid map-get($colors, "grey-2");
            }
        }
    }

    &__desktop {
        @include mq($until: md) {
            display: none;
        }

        .lb-prefooter__box {
            &:first-child {
                padding-right: 60px;
            }

            &:nth-child(2) {
                padding-right: 40px;
                padding-left: 40px;
            }

            &:last-child {
                padding-left: 60px;
            }
        }

        .infobox {
            &__subtitle {
                font-size: rem(20);
            }
        }

        .custom-field {
            margin-top: 30px;
        }
    }

    &__mobile {
        @include mq($from: md) {
            display: none;
        }

        .lb-accordion {
            text-align: center;

            &__header {
                justify-content: center;
                padding: 0 15px;
            }

            &__content {
                display: flex;
                flex-direction: column;
                align-items: center;

                @include mq($until: md) {
                    padding: 0 15px 15px 15px;
                }

                .custom-field {
                    width: 300px;
                    margin-top: 20px;
                }
            }
        }
    }
}



.footer {
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: map-get($colors, "primary-light-1");

    @include mq($until: md) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 60px;

        @include mq($until: md) {
            margin-bottom: 40px;
        }

        &__logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        &__item {
            flex: 1 1 auto;

            @include mq($until: md) {
                flex: 1 1 100%;
            }
            
            &:not(:last-child) {
                padding-right: 30px;

                @include mq($until: md) {
                    padding-right: 0;
                    margin-bottom: 40px;
                }
            }

            .infobox__tagline {
                font-size: rem(12);
                margin-bottom: 20px;

                @include mq($until: md) {
                    margin-bottom: 12px;
                }
            }

            .infobox__paragraph {
                font-size: rem(13);
                line-height: 18px;
                margin-bottom: 20px;
            }

            .button {
                &__label {
                    font-size: rem(15);
                }
            }
        }
    }

    &__menu {
        &__item {
            &:first-child {
                .button {
                    padding-top: 0;
                }
            }

            .button {
                padding-left: 0;
            }
        }
    }

    &__menu-icon {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;

        @include mq($until: md) {
            justify-content: flex-start;
        }

        &__item {
            flex: 0 0 30%;
            margin-bottom: 15px;

            @include mq($until: md) {
                flex: 1;
                margin-bottom: 0;
            }

            .lb-icon  {
                svg {
                    width: 26px;
                    height: 26px;
                    color: map-get($colors, "black");
                }
            }
        }
    }

    &__impressum {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid map-get($colors, "grey-2");

        @include mq($until: md) {
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 0;
        }
        
        &__text {
            margin: 0;
            font-size: rem(11);
        }

        &__menu {
            display: flex;

            @include mq($until: md) {
                width: 100%;
                margin-top: 25px;
            }

            .button {
                padding-top: 0;
                padding-bottom: 0;

                @include mq($until: md) {
                    &:first-child {
                        padding-left: 0;
                    }
                }

                &:not(:last-child) {
                    border-right: 1px solid map-get($colors, "black");
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
