html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    display: flex;
    flex-direction: column;
}

.has-scroll-smooth #content {
    will-change: transform;
}

#content {
    overflow-y: initial!important;
}

.c-scrollbar {
    z-index: 999;
}



.lb-logo {
    svg {
        width: 182px;
        height: 58px;

        @include mq($until: lg) {
            width: 94px;
            height: 30px;
        }
    }
}

.lb-shield {
    svg {
        width: 165px;
        height: 54px;

        @include mq($until: lg) {
            width: 86px;
            height: 30px;
        }
    }
}



ol:not(.flex-control-nav) {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: lbListCounter;

    li {
        counter-increment: lbListCounter;

        &::before {
            content: counter(lbListCounter)".";
            min-width: 65px;
            margin-right: 15px;
            font-size: rem(56);
            font-weight: 600;
            line-height: 1;
            color: map-get($colors, "secondary");

            @include mq($until: md) {
                margin-right: 0;
                font-size: rem(40);
            }
        }
    }
}



ul.lb-arrow-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .lb-icon {
            margin-top: 4px;

            svg {
                width: 6px;
                height: 8px;
            }
        }

        .lb-arrow-list__text {
            margin-left: 10px;
            font-size: rem(14);
            font-weight: 300;
            line-height: 19px;
        }
    }
}



.pswp {
    &__bg {
        background-color: #f6f5f3;
    }

    &__counter {
        height: auto;
        padding: 20px;
        margin: 0;
        line-height: 1.4;
        text-shadow: none;
        color: map-get($colors, "black");
        background-color: map-get($colors, "white");
        box-shadow: 1px 1px #eae8e4;
        opacity: 1;
    }

    &__button {
        &--zoom,
        &--close {
            width: auto;
            height: auto;
            margin: 0;
            padding: 20px;
            background-color: map-get($colors, "white");
            box-shadow: -1px 1px #eae8e4;
            opacity: 1;

            &:hover {
                padding: 20px;
                background-color: map-get($colors, "white");
                box-shadow: -1px 1px #eae8e4;
                opacity: 1;
            }
        }

        &--zoom {
            svg {
                transform: rotate(45deg);
            }
        }
    }
}



.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}



.caffeina-base-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: map-get($colors, "white");
    opacity: 1;
    visibility: hidden;
    z-index: 10;

    &--loading {
        opacity: 0.5;
        visibility: visible;
    }
}



.lb-geolocation {
    display: flex;
    margin-left: 20px;
    padding: 15px 17px;
    border: 1px solid map-get($colors, "grey-2");
    border-radius: 3px;
    cursor: pointer;
}



.lb-no-results {
    text-align: center;
    color: map-get($colors, "grey-3");
}
