.lb-menu--desktop {
    height: 100%;
    display: flex;
    flex: 1;

    @include mq($until: lg) {
        display: none !important;
    }

    .lb-menu {
        &__background {
            width: 100%;
            background: map-get($colors, "white");
            height: 0;
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) inset;
        
            // .lb-header--scrolled & {
            //     top: 74px;
            // }
        }


        &__close {
            padding: 60px 80px 60px 0;
            cursor: pointer;
        }


        &__overlay {
            width: 100%;
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background: #000000;
        
            // .lb-header--scrolled & {
            //     top: 74px;
            // }
        }


        &__main {
            margin: 0;
            display: flex;
            flex: 1;
            align-items: flex-end;
    
            &>* {
                margin-right: 30px;
            }

            &--active {
                overflow: hidden;
            }
        }
        

        &__submenu {
            height: calc(100vh - 186px);
            // height: 100%;
            position: fixed;
            right: 0;
            left: 0;
            visibility: hidden;
            margin-bottom: 0;

            // @include mq($from: lg, $until: xl) {
            //     height: rem(375px);
            // }

            // .lb-header--scrolled & {
            //     top: 74px;
            // }

            .lb-menu {
                &__wrapper {
                    > .lb-menu__item {
                        height: 100%;
                        margin: 0;
                        line-height: inherit;
                        padding: 60px 30px 0;

                        // &:nth-child(odd) {
                        //     padding: 60px 30px 0 0;
                        // }

                        &:nth-child(even) {
                            // padding: 60px 30px 0;
                            background-color: map-get($colors, "primary-light-1");
                        }

                        &--subitem {
                            overflow-y: scroll;

                            -ms-overflow-style: none; /* IE and Edge */
                            scrollbar-width: none; /* Firefox */

                            &::-webkit-scrollbar { /* Chrome, Safari and Opera */
                                display: none;
                            }
                        }

                        [data-submenu-trigger]:not(.lb-menu__submenu-link) {
                            display: none;
                            transition: $transition__base-1;
                        }
                        
                        .lb-menu__item {
                            &:not(:last-child) {
                                margin-bottom: 30px;
                            }

                            &.is-visible {
                                display: block;
                                transition: $transition__base-1;
                            }
                        }

                        .lb-menu__link {
                            display: inline-block;
                            padding-bottom: 5px;
                            font-size: rem(13);
                            font-weight: 300;
                            text-transform: unset;
                        }
                    }
                }
            }
        }


        &__wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-basis: 20%;
            opacity: 0;

            &>*:not(:last-child) {
                margin-right: rem(24px);
            }

            &>.lb-menu__item {
                line-height: 0;
                flex: 1 0 0%;
            }

            .card {
                .card-img {
                    margin: 0;
                }

                .infobox__cta {
                    margin-top: 20px;
                }
            }
        }


        &__item {
            &:last-child {
                margin-right: 0;
            }
            
            &--main {
                .lb-button {
                    text-transform: none;
                }
            
                &>.lb-button>span,
                &>a {
                    display: inline-flex;
                    align-items: center;
                    text-transform: none;
                }
            }

            &--separator {
                width: 100%;
            }
        }


        &__header {
            margin-bottom: 40px;
            font-weight: 700;
            font-size: rem(14);
            text-transform: uppercase;
            letter-spacing: 0.02em;
            white-space: nowrap;
        }


        &__link {
            display: block;
            position: relative;
            padding-bottom: 15px;
            font-size: rem(14);
            font-weight: 300;
            text-transform: uppercase;
            color: map-get($colors, "black");
            cursor: pointer;
            text-decoration: none;

            &::after {
                content: '';
                height: 4px;
                position: absolute;
                bottom: -1px;
                right: 0;
                left: 0;
                background: map-get($colors, "black");
                transform: scaleX(0);
                transform-origin: right center;
                transition: transform .3s ease;
            }

            &:hover,
            &:focus {
                &::after {
                    transform: scaleX(1);
                    transform-origin: left center;
                }
            }

            &--main {
                margin: 0;
                white-space: nowrap;
            }

            &--main-active {
                &::after {
                    transform: scaleX(1);
                }
            }

            &--icon {
                svg {
                    max-width: unset;
                }

                &::after {
                    content: none;
                }
            }
        }


        &__back {
            &>span,
            &>a {
                text-transform: none;
            }
        }


        &__images {
            display: flex;
            flex: 0 1 33%;
        
            &>*:not(:last-child) {
                margin-right: rem(24px);
            }

            .card {
                .card-infobox {
                    padding: 30px;
                }
            }
        }


    }
}
