.lb-logo {
    svg {
        width: 182px;
        height: 58px;

        @include mq($until: lg) {
            width: 94px;
            height: 30px;
        }
    }
}

.lb-shield {
    svg {
        width: 165px;
        height: 54px;

        @include mq($until: lg) {
            width: 86px;
            height: 30px;
        }
    }
}
