.lb-menu--desktop {
    height: 100%;
    display: flex;
    flex: 1;

    @include mq($until: lg) {
        display: none !important;
    }

    .lb-menu {
        &__background {
            width: 100%;
            background: burlywood;
            height: 0;
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
        
            .lb-header--scrolled & {
                top: 74px;
            }
        }


        &__overlay {
            width: 100%;
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background: #000000;
        
            .lb-header--scrolled & {
                top: 74px;
            }
        }


        &__main {
            margin: 0;
            display: flex;
            flex: 1;
            align-items: flex-end;
    
            &>* {
                margin-right: 1rem;
            }

            &--active {
                overflow: hidden;
            }
        }
        

        &__submenu {
            height: rem(522px);
            position: fixed;
            right: 0;
            left: 0;
            visibility: hidden;

            @include mq($from: lg, $until: xl) {
                height: rem(375px);
            }

            .lb-header--scrolled & {
                top: 74px;
            }
        }


        &__wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-basis: 20%;
            padding: 2rem;
            opacity: 0;

            &>*:not(:last-child) {
                margin-right: rem(24px);
            }

            &>.lb-menu__item {
                line-height: 0;
                flex: 1 0 0%;
            }
        }


        &__item {
            
            &--main {
                .lb-button {
                    text-transform: none;
                }
            
                &>.lb-button>span,
                &>a {
                    display: inline-flex;
                    align-items: center;
                    text-transform: none;
                }
            }
        }


        &__header {
            margin-bottom: 16px;
            white-space: nowrap;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 110%;
            letter-spacing: 0.01em;
        }


        &__link {
            position: relative;
            display: inline-block;
            margin-bottom: rem(10px);
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
            color: inherit;

            &::after {
                content: '';
                height: 2px;
                position: absolute;
                bottom: -1px;
                right: 0;
                left: 0;
                background: #9D5248;
                transform: scaleX(0);
                transition: transform .3s ease;
            }

            &:hover,
            &:focus {
                &::after {
                    transform: scaleX(1);
                }
            }

            &--main {
                margin: 0;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 1.3px;
                white-space: nowrap;
            }

            &--main-active {
                &::after {
                    transform: scaleX(1);
                }
            }
        }


        &__back {
            &>span,
            &>a {
                text-transform: none;
            }
        }


        &__images {
            display: flex;
            flex: 0 1 auto;
        
            &>*:not(:last-child) {
                margin-right: rem(24px);
            }
        }


    }
}
