node_modules
.DS_STORE
coverage
.env
uploads
.php_cs.cache
.initialized
frontend_bundler/client/app/dist
frontend_static/client/app/dist
backend_wordpress/wordpress/app/wp-content/plugins/cf7-ace-syntax-highlighting