<div class="lb-accordion__item{{ class ? ' ' ~ class : '' }}">
	<div class="lb-accordion__header">
		<div class="lb-accordion__header__title">
			{% block accordion%}
                {% if icon %}
                    {% include '@PathViews/components/icon.twig' with {name: icon} %}
                {% endif %}
				{% if title is defined %}
					<h4 class="p">{{ title }}</h4>
				{% endif %}
			{% endblock %}
		</div>
		{% if actions is iterable %}
			{% for action in actions %}
				<div class="lb-accordion__header__action">
					{% include '@PathViews/components/button.twig' with action only %}
				</div>
			{% endfor %}
		{% endif %}
		<span class="lb-accordion__toggler">
			{% include '@PathViews/components/icon.twig' with {name: 'arrow-down'} %}
		</span>
	</div>
	<div class="lb-accordion__content">
		{% block accordionContent %}
			{% if content is iterable %}
                {% for item in content %}
                    <h6 class="lb-accordion__content__label">{{ item.label }}</h6>
                    {% for link in item.links %}
                        {% include '@PathViews/components/button.twig' with link only %}
                    {% endfor %}
                {% endfor %}
            {% else %}
				{{ content|raw }}
			{% endif %}
		{% endblock %}
	</div>
</div>
