{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

{% set classes = [] %}
{% set dataVariants = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['banner-alternate--' ~ variant]) %}
    {% set dataVariants = dataVariants|merge(['data-variant="' ~ variant ~ '"']) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}
{% if imageBig %}
	{% set classes = classes|merge(['banner-alternate--image-big']) %}
{% endif %}

<section 
    class="banner-alternate{{ classes|length ? ' ' ~ classes|join(' ') : '' }}{{ noContainer == true ? '' : ' container' }} js-banner-alternate js-animation-reveal"
    {{ dataVariants|length ? ' ' ~ dataVariants|join(' ') : '' }}
>
    <div class="banner-alternate__img">
		{{ lbPicture(images, true, null, true) }}
	</div>

    <div class="banner-alternate__infobox">
        {% include '@PathViews/components/infobox.twig' with infobox|merge({reveal: true}) only %}
    </div>
</section>
