{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['block-two-cards--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

{% set is_variant_vertical = ('vertical' in variants) ? true : false %}

{# Offset Nav links payload #}
{% set navLinks = [] %}
{% if offsetNavs %}
    {% for item in offsetNavs %}
        {% if item.active %}
            {% set navLinks = navLinks|merge([{
                attributes: ['data-target-offset-nav="' ~ item.id ~ '"'],
                class: 'js-open-offset-nav',
                url: null
            }]) %}
        {% else %}
            {% set navLinks = navLinks|merge([{}]) %}
        {% endif %}
    {% endfor %}
{% endif %}

<section class="block-two-cards{{ classes|length ? ' ' ~ classes|join(' ') : '' }} container js-animation-reveal">
    {% if infobox %}
        <div class="block-two-cards__infobox text-center">
            {% include '@PathViews/components/infobox.twig' with infobox|merge({reveal: true}) only %}
        </div>
    {% endif %}
    <div class="block-two-cards__cards text-center js-card-reveal">
        <div class="row">
            {% for item in cards %}
                {% if navLinks|length > 0 %}
                    {% set ctaCurr = item.infobox.cta %}
                    {% set infoboxCurr = item.infobox %}
                    {% set ctaNew = ctaCurr ? ctaCurr|merge(navLinks[loop.index0]) : null %}
                    {% set infoboxNew = infoboxCurr|merge({'cta': ctaNew}) %}
                    {% set item = item|merge({'infobox': infoboxNew}) %}
                {% endif %}
                <div class="block-two-cards__card-item col-12{{ is_variant_vertical ? '' : ' col-md-6' }}">
                    {% include '@PathViews/components/card.twig' with item only %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
