{% from '../macro/lb-picture.twig' import lbPicture %}

<section class="block-launch-two-images">
  <div class="container">
    <div class="row">
      <div class="block-launch-two-images__img-wrap col-12 col-md-6">
        <div class="block-launch-two-images__img">
          {{ lbPicture(imagesLeft) }}
        </div>
      </div>
      <div class="block-launch-two-images__img-wrap col-12 col-md-6">
        <div class="block-launch-two-images__img">
          {{ lbPicture(imagesRight) }}
        </div>
      </div>
    </div>
  </div>
  {% include './infobox.twig' with infobox only %}
</section>
