{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['block-image-card--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

{# Offset Nav links payload #}
{% set navLink = {} %}
{% if offsetNav %}
    {% if offsetNav.active %}
        {% set navLink = navLink|merge({
            attributes: ['data-target-offset-nav="' ~ offsetNav.id ~ '"'],
            class: 'js-open-offset-nav',
            url: null
        }) %}
    {% endif %}
{% endif %}

<section class="block-image-card{{ classes|length ? ' ' ~ classes|join(' ') : '' }} container js-animation-reveal">
    <div class="block-image-card__img">
        {{ lbPicture(images, true, null, true) }}
    </div>
    <div class="block-image-card__card js-card-reveal">
        {% if navLink %}
            {% set ctaCurr = card.infobox.cta %}
            {% set infoboxCurr = card.infobox %}
            {% set ctaNew = ctaCurr ? ctaCurr|merge(navLink) : null %}
            {% set infoboxNew = infoboxCurr|merge({'cta': ctaNew}) %}
            {% set card = card|merge({'infobox': infoboxNew}) %}
        {% endif %}
        {% include '@PathViews/components/card.twig' with card only %}
    </div>
</section>
