<div class="lb-cards-grid row js-lb-cards-grid">
    {% for post in items %}
        <div class="lb-cards-grid__card col-12 col-md-{{ col }}">
            {% include '@PathViews/components/card.twig' with post only %}
        </div>
    {% endfor %}
</div>
