<section class="carousel-hero swiper js-carousel-hero">
  <div class="swiper-wrapper">
    {% for slide in slides|default([]) %}
      <div class="carousel-hero__slide swiper-slide">
        {# <div class="carousel-hero__slide-content lazyload" data-bg="{{slide.images.original}}"> #}
        {% include '@PathViews/components/hero.twig' with slide only %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</section>
