{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

<section class="hero">
  {% if infobox %}
    {% set infoboxSide = infobox.side == 'left' ? '' : 'offset-md-6' %}
    <div class="hero__infobox">
      <div class="container">
        <div class="h-100 col-12 col-md-6{{ ' ' ~ infoboxSide }}">
          {% include '@PathViews/components/infobox.twig' with infobox only %}
        </div>
      </div>
    </div>
  {% endif %}
  
  <div class="hero__img">
    {{ lbPicture(images) }}
  </div>
</section>
