<div class="lb-load-more lb-load-more--hide js-load-more"{{ posts_per_page ? ' data-posts-per-page="' ~ posts_per_page ~ '"' : '' }}>
    {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}
    {% include '@PathViews/components/button.twig' with {
        title: label,
        variants: ['primary'],
    } only %}
</div>
