{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

{% set classes = [] %}
{% for variant in variants|default([]) %}
  {% set classes = classes|merge(['number-list-with-image--' ~ variant]) %}
{% endfor %}
{% if class %}
  {% set classes = classes|merge([class]) %}
{% endif %}

<section {{ sectionID ? 'id="' ~ sectionID ~ '" ' : '' }}class="number-list-with-image{{ classes|length ? ' ' ~ classes|join(' ') : '' }} container js-animation-reveal">
    <div class="row">
        <div class="number-list-with-image__list col-12 col-md-6">
            {% include '@PathViews/components/number-list.twig' with numbersList|merge({noContainer: true}) only %}
        </div>
        <div class="number-list-with-image__img col-12 col-md-6">
            {{ lbPicture(images, true, null, true) }}
        </div>
    </div>
</section>
