<form role="search" method="get" action="{{ action }}" class="lb-search-form lb-search-autocomplete js-search-autocomplete" data-label-res-less="{{ label_res_less }}" data-label-res-more="{{ label_res_more }}">
    {% include '@PathViews/components/fields/input.twig' with {
        type: 'search',
        id: id,
        name: name,
        value: search_val,
        label: label,
        autocomplete: 'off',
        disabled: false,
        required: false,
        class: 'lb-search-autocomplete__input',
        buttonTypeNext: 'submit',
        buttonVariantNext: buttonVariantNext,
        variants: variants,
    } only %}
</form>
