{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['lb-video--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

<section class="lb-video container{{ classes|length ? ' ' ~ classes|join(' ') : '' }} js-video">
	{% if video_id %}
		<div data-video data-plyr-provider="{{ provider }}" data-plyr-embed-id="{{ video_id }}"></div>
	{% endif %}
</section>
