.lb-wc-form-login {
    &__message {
        margin-bottom: 30px;
    }

    .custom-checkbox {
        margin-bottom: 40px;
    }

    .button {
        width: 290px;
        justify-content: center;
    }
}
