body.lb-is-shop {
    .lb-header {
        &__top {
            @include mq($until: md) {
                border-top: 30px solid map-get($colors, "secondary");
            }
        }
    }

    .lb-menu {
        &--mobile {
            top: 103px;
        }
    }
}

.woocommerce-notices-wrapper {
    width: 100%;
    margin-bottom: 60px;

    &:empty {
        display: none;
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: rem(15);
        // padding-top: 5px;
        // padding-bottom: 5px;
        background-color: map-get($colors, "grey-1");
        color: map-get($colors, "black");
        font-weight: 300;

        &::before {
            top: auto;
        }

        &::after {
            content: none;
        }

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            order: 1;
            float: none;
            background-color: #b52a2d;
            border-radius: 3.125rem;
            border: 1px solid #b52a2d;
            color: #ffffff;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            font-size: rem(12);
            text-decoration: none;

            &:hover {
                background-color: #ffffff;
                border: 0.0625rem solid #a43534;
                color: #b52a2d;
            }
        }
    }

    .woocommerce-error {
        border-top-color: map-get($colors, "secondary");

        &::before {
            color: map-get($colors, "secondary");
        }
    }
}
