.lb-product-card {
    display: block;
    position: relative;
    text-align: center;
    color: inherit;
    text-decoration: none;

    &:hover {
        .button-quaternary {
            .lb-icon {
                transform: translateX(5px);
            }
        }
    }

    &__status {
        position: absolute;
        top: 16px;
        left: 16px;

        .button {
            padding-top: 6px;
            padding-bottom: 6px;

            &__label {
                font-size: rem(13);
                text-transform: initial;
            }

            svg {
                color: map-get($colors, "secondary");
            }
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // img {
        //     max-height: 340px;
        //     min-height: 340px;

        //     @include mq($until: md) {
        //         max-height: 200px;
        //         min-height: 200px;
        //     }
        // }

        .onsale {
            display: none;
        }
    }

    &__title {
        margin: 20px 0;
        font-size: rem(20);
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 0.02em;

        @include mq($until: md) {
            font-size: rem(13);
        }

        a {
            color: map-get($colors, "black");
            text-decoration: none;
        }
    }

    &__price {
        margin-bottom: 8px;

        &__desc {
            font-size: rem(14);
            font-weight: 300;
            color: map-get($colors, "primary-dark-1");
            margin-right: 5px;

            @include mq($until: md) {
                font-size: rem(11);
            }
        }

        .amount {
            font-size: rem(18);
            font-weight: 400;
            color: map-get($colors, "black");

            @include mq($until: md) {
                font-size: rem(13);
            }
        }
    }
}