.lb-wc-product-form-login {
    margin-bottom: 20px;
    
    @include mq($until: md) {
        margin-bottom: 10px;
    }

    .woocommerce-form-login-toggle {
        margin-bottom: 0;
    }

    .lb-wc-form-login {
        margin-top: 30px;
    }
}

.woocommerce-form-coupon-toggle {
    .button {
        white-space: nowrap;
    }
}

.lb-wc-product-form-coupon {
    margin-bottom: 60px;

    .form-row {
        display: flex;
        padding: 0;

        .custom-input {
            flex: 1;
            margin-right: 20px;
        }
    }
}

.lb-wc-checkout {
    .woocommerce-account-fields,
    .woocommerce-shipping-fields {
        margin-top: 40px;

        .custom-checkbox {
            font-weight: 300;
        }

        div.create-account,
        div.shipping_address {
            margin-top: 60px;
        }
    }
    
    .woocommerce-account-fields {
        p.create-account {
            padding: 0;
        }
    }

    .woocommerce-billing-fields {
        .mc4wp-checkbox {
            padding-bottom: 0;
            
            label {
                font-size: rem(16);
                color: map-get($colors, "black");
                margin: 0;
            }
        }
    }

    .woocommerce-additional-fields {
        margin-top: 60px;
    }

    #billing_country_field,
    #shipping_country_field {
        .woocommerce-input-wrapper {
            & > strong {
                display: block;
                padding: 16.5px;
                background-color: map-get($colors, "white");
                border: 1px solid map-get($colors, "grey-3");
                border-radius: 4px;
                font-size: rem(13);
                font-weight: 400;
                line-height: 1.2;
                font-weight: 400;
            }
        }
    }

    &__details {
        border-radius: 3px;
        background-color: map-get($colors, "primary-light-1");

        #order_review_heading {
            padding: 20px;
            margin: 0;
            font-size: rem(20);
            text-transform: uppercase;
            letter-spacing: 0.02em;
            text-align: center;
            color: map-get($colors, "black");
            border-bottom: 1px solid map-get($colors, "grey-2");
        }

        .lb-wc-payment-actions {
            position: relative;

            &--error {
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: map-get($colors, "primary-light-1");
                    opacity: 0.8;
                    z-index: 999;
                }
            }
        }
        
        .woocommerce-checkout-review-order-table {
            width: 100%;

            tbody, tfoot {
                display: flex;
                flex-direction: column;
                padding: 30px 15px;
                border-bottom: 1px solid map-get($colors, "grey-2");
            }

            tbody {
                .cart_item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: rem(13);

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    .product-thumbnail {
                        margin-right: 15px;

                        img {
                            width: 51px;
                        }
                    }

                    .product-name {
                        flex: 1;
                        
                        .product-quantity {
                            display: block;
                            margin-top: 8px;
                            color: map-get($colors, "grey-4");
                            font-weight: 400;
                            font-size: rem(11);
                            line-height: rem(13);
                        }
                    }

                    .variation {
                        margin-top: 5px;
                    }
                }
            }
        }

        .woocommerce-checkout-payment {
            padding: 30px 15px;

            .wc_payment_methods {
                .payment_method_stripe {
                    .form-row {
                        padding-bottom: 15px;

                        .wc-stripe-elements-field,
                        .wc-stripe-iban-element-field {
                            padding: 16.5px;
                            background-color: map-get($colors, "white");
                            border: 1px solid map-get($colors, "grey-3");
                            border-radius: 4px;
                            font-size: rem(13);
                            font-weight: 400;
                        }
                    }
                }
            }

            .place-order {
                padding-bottom: 0;

                .woocommerce-terms-and-conditions-wrapper {
                    margin-top: 30px;

                    a {
                        color: map-get($colors, "black");
                        font-weight: 400;
                    }
                }

                .button {
                    width: 100%;
                    justify-content: center;
                }
            }

            .custom-radio {
                &__options {
                    span {
                        pointer-events: all;
                    }
                }
            }
        }

        .ppc-button-wrapper {
            padding: 0 15px;
        }

        .woocommerce-terms-and-conditions-wrapper {
            .form-row {
                label {
                    margin-left: 0;
                    margin-bottom: 0;
    
                    span {
                        pointer-events: all;
                    }
                }
            }
        }
    }
}
