{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'lb-product-cat page' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs lb-breadcrumbs--fixed"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Hero #}
    {% include '@PathViews/components/hero.twig' with {
        images: fn('lb_get_images', term_image),
        infoboxPosX: 'left',
        infoboxPosY: 'center',
        infobox: {
            title: page_intro.title,
            paragraph: page_intro.description,
        },
        container: false,
        animationType: 'intro',
        variants: ['medium']
    } only %}
    <hr class="lb-separator lb-separator--big" data-variant="big" />

    <div class="lb-product-cat__grid container">
        <div class="row{{ terms|length <= 3 ? ' justify-center' : '' }}">
            {% for term in terms|default([]) %}
                <div class="col-12 col-md-3">
                    {% include '@PathViews/components/card.twig' with term only %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
