{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'page' %}

{% block main %}

    <h1>ZONA{{ ' - ' ~ termName }}</h1>

    <div class="container">
        <div class="row">
            {% for term in terms|default([]) %}
                <div class="col-4">
                    <h4><a href="{{ fn('get_term_link', term.term_id) }}">{{ term.name }}</a></h4>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
