{% extends 'templates/_default.twig' %}

{% set bodyClass = 'single-product' %}
{% set mainClass = 'js-lb-product' %}
{% set prefooterConfig = {show: true, line: false} %}


{% block header %}
    {{ parent() }}

    {# Sticky Header #}
    {% if stickyHeader.show %}
        {% set stickyHeaderImage = fn('get_field', 'lb_product_stickyheader_img') %}
        <!-- Header Sticky Product -->
        {% include '@PathViews/layout/header-sticky-product.twig' %}
    {% endif %}
{% endblock header %}


{% block main %}
    {% do action('woocommerce_before_main_content') %}

    <div class="container">
        {% do action('woocommerce_before_single_product') %}
    </div>

    <article itemscope itemtype="http://schema.org/Product" {{ product_classes }}>
        <div class="single-product-details__wrapper row">
            <div class="single-product-details__images col-12 col-md-6">
                {% do action('woocommerce_before_single_product_summary') %}
                {# <img src="{{ post.thumbnail.src('shop_single') }}" /> #}
            </div>

            <div class="single-product-details__summary col-12 col-md-6">
                {% do action('woocommerce_single_product_summary') %}
            </div>

            {# {% do action('woocommerce_after_single_product_summary') %} #}

            {# <meta itemprop="url" content="{{ post.link }}" /> #}
        </div>
    </article>

    {# {% include ["woo/partials/tease-product.twig"] with { products: related_products } %} #}

    {% do action('woocommerce_after_single_product') %}

    {% do action('woocommerce_after_main_content') %}

    <div class="js-single-product-details"></div>

    {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}

    {% if hero %}
        {% include '@PathViews/components/hero.twig' with hero only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
    {% endif %}

    {% if offset_navs %}
        {% include '@PathViews/components/block-offset-navs.twig' with offset_navs only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
    {% endif %}

    {% if banner_alternate %}
        {% include '@PathViews/components/banner-alternate.twig' with banner_alternate only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
    {% endif %}

    {% if two_cards %}
        {% include '@PathViews/components/block-launch-two-cards.twig' with two_cards|merge({offsetNavs: offset_navs.items_two_cards}) only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
    {% endif %}

    {% if image_and_card %}
        {% include '@PathViews/components/block-image-card.twig' with image_and_card|merge({offsetNav: offset_navs.items.technology}) only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
    {% endif %}

    {% if number_list %}
        {% include '@PathViews/components/number-list-with-image.twig' with number_list only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
    {% endif %}

    {% if miniatures %}
        {% include '@PathViews/components/block-love-labo.twig' with miniatures only %}
        {% if shipping_info %}
            {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
        {% endif %}
    {% endif %}

    {% if shipping_info %}
        {% include '@PathViews/components/information-boxes.twig' with shipping_info only %}
        {% if routine %}
            {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
        {% endif %}
    {% endif %}

    {% if routine %}
        {% include '@PathViews/components/block-routine.twig' with routine only %}
    {% endif %}
{% endblock main %}


{% block offsetNavs %}
    {% if offset_navs.items %}
        {% for item in offset_navs.items %}
            {% if item.active %}
                {% include '@PathViews/components/offset-nav/default.twig' with item only %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if offset_navs.items_two_cards %}
        {% for item in offset_navs.items_two_cards %}
            {% if item.active %}
                {% include '@PathViews/components/offset-nav/default.twig' with item only %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock offsetNavs %}
