{% extends "@PathViews/components/cards/card-base.twig" %}

{% block blockInfoboxAfter %}
    <div class="card-loader card-loader--big"></div>
    <div class="card-loader card-loader--small"></div>
    <div class="card-loader card-loader--medium"></div>
{% endblock %}
