<nav class="lb-menu lb-menu--mobile">
	<div class="lb-menu__wrapper">
        <div class="lb-menu-scroller">
            <div body-scroll-lock-ignore data-lenis-prevent class="lb-menu__main">
                {% for item in items.children %}
                    {% include "@PathViews/layout/menu-mobile-item.twig" with item only %}
                {% endfor %}
            </div>
            <div class="lb-menu__fixed">
                <div class="lb-menu__service">
                    {% for item in items.fixed %}
                        {% include "@PathViews/layout/menu-mobile-item.twig" with item only %}
                    {% endfor %}
                </div>
            </div>
        </div>
	</div>
</nav>
