{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'archive-lb-faq' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Intro page #}
    {% include '@PathViews/components/page-intro.twig' with page_intro only %}
    {% include '@PathViews/components/separator.twig' with {variants: ['small']} only %}

    {# Filters #}
    {% if filters|length > 0 %}
        {% include '@PathViews/components/filters.twig' with filters only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}
    {% endif %}

    {# Posts Grid #}
    <div class="container">
        {% include '@PathViews/components/cards-grid-default.twig' with {
            col: 4,
            items: items,
        } only %}
    </div>

    {# Pagination #}
    {% if pagination %}
        {{ pagination|raw }}
    {% endif %}

    {# Load More #}
    {% include '@PathViews/components/load-more.twig' with load_more only %}

{% endblock %}
