{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'archive-lb-job' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Info #}
    <div class="container text-center">
        <div class="infobox">
            {% if title %}
                <h1 class="infobox__subtitle h2">{{ title }}</h1>
            {% endif %}
            {% if description %}
                <p class="infobox__paragraph">{{ description }}</p>
            {% endif %}
        </div>
    </div>
    <hr class="lb-separator lb-separator--medium" data-variant="medium">

    {# Filters #}
    {% if filters|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    {% include '@PathViews/components/filters.twig' with filters only %}
                    <hr class="lb-separator lb-separator--medium" data-variant="medium">
                </div>
            </div>
        </div>
    {% endif %}

    {# Posts Grid #}
    <div class="lb-cards-grid lb-cards-grid--default container">
        <div class="lb-cards-grid__row row js-lb-cards-grid">
            {% for post in items %}
                <div class="lb-cards-grid__card col-12 col-lg-8 offset-lg-2">
                    {% include '@PathViews/components/card.twig' with post only %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# Pagination #}
    {% if pagination %}
        <hr class="lb-separator lb-separator--medium" data-variant="medium">
        {{ pagination|raw }}
    {% endif %}

    {# Info #}
    {% if infobox %}
        <hr class="lb-separator lb-separator--big" data-variant="big">
        <div class="container text-center">
            {% include '@PathViews/components/infobox.twig' with infobox only %}
        </div>
    {% endif %}

{% endblock %}
