{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'archive-lb-store' %}
{% set disableScrollbar = true %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Intro page #}
    {% include '@PathViews/components/page-intro.twig' with page_intro only %}
    {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}

    {# Store locator #}
    <div class="lb-store-locator caffeina-sl js-store-locator js-caffeina-sl">
        <div class="row">
            <div class="lb-store-locator__left-wrapper col-12 col-lg-4">
                <div class="lb-store-locator__filter">
                    <div class="lb-store-locator__filter__search">
                        {% include '@PathViews/components/fields/input.twig' with store_locator.search only %}
                    </div>
                    <div class="lb-geolocation js-caffeina-sl-geolocation">
                        {% include '@PathViews/components/icon.twig' with {name: 'geolocation'} %}
                    </div>
                </div>
                <div class="lb-store-locator__list-wrapper caffeina-sl__list-wrapper">
                    <div class="caffeina-sl__notfound js-caffeina-sl-notfound">Nessuno Store trovato</div>
                    <div class="lb-store-locator__list caffeina-sl__list js-caffeina-sl-list js-scrollbar-management"></div>
                    <div class="caffeina-sl__infowindows js-caffeina-sl-infowindows"></div>
                </div>
                <div class="lb-store-locator__card">
                    {% include '@PathViews/components/card.twig' with card only %}
                </div>
            </div>
            <div class="lb-store-locator__right-wrapper col-12 col-lg-8">
                <div class="lb-store-locator__map-wrapper">
                    <div class="lb-store-locator__map js-caffeina-sl-map js-scrollbar-management" data-map-country="{{ store_locator.map_country }}" data-map-lang="{{ store_locator.map_lang }}"></div>
                    <div class="lb-store-locator__card">
                        {% include '@PathViews/components/card.twig' with card only %}
                    </div>
                </div>
            </div>
        </div>

        <div class="caffeina-sl__loader caffeina-sl__loader--loading js-caffeina-sl-loader">
            <div class="lb-loader-spinner"></div>
        </div>
    </div>

{% endblock %}
