{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'magazine' %}

{% block main %}

    {# Content #}
    {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}
    {{ content|raw }}

    {# Filters #}
    {% if filters|length > 0 %}
        {% include '@PathViews/components/filters.twig' with filters only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}
    {% endif %}

    {# Posts Grig #}
    <div class="container">
        {% include '@PathViews/components/cards-grid-default.twig' with {
            col: 3,
            items: posts,
        } only %}
    </div>

    {# Load More #}
    {% include '@PathViews/components/load-more.twig' with load_more only %}

    {# Pagination #}
    {% if pagination %}
        {{ pagination|raw }}
    {% endif %}

{% endblock %}
