{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'magazine' %}

{% block main %}

    {{ content|raw }}

    {# Filters #}
    {% if filters|length > 0 %}
        {% include '@PathViews/components/filters.twig' with filters only %}
        <hr class="lb-separator lb-separator--medium" data-variant="medium">
    {% endif %}

    <div class="container">
        {# Posts Grig #}
        <div class="row">
            {% for item in posts %}
                <div class="col-12 col-md-3">
                    {% include '@PathViews/components/card.twig' with item only %}
                </div>
            {% endfor %}
        </div>
        <hr class="lb-separator lb-separator--medium" data-variant="medium">
        {# Pagination #}
        {% if pagination %}
            {{ pagination|raw }}
            <hr class="lb-separator lb-separator--big" data-variant="big">
        {% endif %}
    </div>

{% endblock %}
