{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'page' %}

{% block main %}

    {# <section> #}
        {# <h1>{{title}}</h1> #}
        {{content|raw}}
    {# </section> #}

{% endblock %}
