{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'lb-search-page' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {% if items|length > 0 and search_val %}

        <hr class="lb-separator lb-separator--small" data-variant="small">
        <div class="container">
            {% include '@PathViews/components/tabs.twig' with { tabs: items } only %}
        </div>

    {% elseif items|length <= 0 and not search_val %}
        
        {# {% include '@PathViews/components/infobox.twig' with  only %} #}

    {% endif %}

{% endblock %}
