{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'single-lb-faq' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Info #}
    <div class="container text-center">
        <div class="infobox">
            {% if image %}
                <img src="{{ image }}">
            {% endif %}
            {% if title %}
                <h1 class="infobox__subtitle h2">{{ title }}</h1>
            {% endif %}
            {% if description %}
                <p class="infobox__paragraph">{{ fn('nl2br', description) }}</p>
            {% endif %}
        </div>
    </div>
    {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}

    {# FAQs Accordion #}
    {% if faq %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    {% include '@PathViews/components/accordion.twig' with faq only %}
                </div>
            </div>
        </div>
    {% endif %}

    {# FAQs Info #}
    {% if infobox %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
        <div class="container text-center">
            {% include '@PathViews/components/infobox.twig' with infobox only %}
        </div>
    {% endif %}

{% endblock %}
