{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'lb-template-application' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Faetured image #}
    {% if hero %}
        {% include '@PathViews/components/hero.twig' with hero only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}
    {% endif %}

    {# Content #}
    <div class="lb-template-application__content container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                {{ content|raw }}
            </div>
        </div>
    </div>
    {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}

    {# Form #}
    {% if form_shortcode %}
        <div class="lb-template-application__form container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <div class="lb-form">
                        {{ fn('do_shortcode', form_shortcode) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
