{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'lb-template-distributor' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Intro page #}
    {% include '@PathViews/components/page-intro.twig' with page_intro only %}
    {% include '@PathViews/components/separator.twig' with {variants: ['medium']} only %}

    {# Filters #}
    {% if filters|length > 0 %}
        {% include '@PathViews/components/filters.twig' with filters only %}
        {% include '@PathViews/components/separator.twig' with {variants: ['small']} only %}
    {% endif %}

    {# Map #}
    <div class="lb-template-distributor__map-wrapper js-distributor-map-wrapper js-scrollbar-management">
        <div class="lb-template-distributor__map js-distributor-map" data-map-country="{{ map.map_country }}" data-map-lang="{{ map.map_lang }}"></div>
        <div class="caffeina-sl__loader caffeina-sl__loader--loading js-distributor-loader"></div>
    </div>

    {# Content #}
    {% if content %}
        {% include '@PathViews/components/separator.twig' with {variants: ['big']} only %}
        <div class="lb-post-elements-formatted">
            {{ content|raw }}
        </div>
    {% endif %}

{% endblock %}
