{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'taxonomy-lb-brand-archive' %}

{% block main %}

    {# Content #}
    {{ content|raw }}

    {# Filters #}
    {% if filters|length > 0 %}
        {% include '@PathViews/components/filters.twig' with filters only %}
        <hr class="lb-separator lb-separator--medium" data-variant="medium">
    {% endif %}

    {# Posts Grid #}
    <div class="taxonomy-lb-brand-archive__grid container">
        <div class="row js-lb-cards-grid">
            {% for brand in items %}
                <div class="col-12 col-md-4">
                    {% include '@PathViews/components/card.twig' with brand only %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
