.lb-wc-async-cart {
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &__remove {
            // width: 20px;
            // height: 20px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // line-height: 1;
            margin-left: 20px;
            text-decoration: none;
            // color: map-get($colors, "black");
            // border-radius: 100%;
            // border: 1px solid map-get($colors, "black");
        }

        &__info {
            display: flex;
            flex-direction: column;
            flex: 1;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-weight: 500;
                color: map-get($colors, "black");
            }

            img {
                width: 70px;
                margin-right: 20px;
            }

            .variation {
                margin: 0;
                margin-top: 10px;
                font-size: rem(13);
                font-weight: 300;
            }
        }

        .blockUI {
            display: none !important;
        }
    }



    &__total {
        position: relative;
        margin-top: 80px;
        margin-bottom: 60px;
        padding: 20px 0;
        // background-color: map-get($colors, "grey-1");
        // border-top: 1px solid map-get($colors, "grey-2");
        text-align: right;
        z-index: 1;

        &::after {
            content: '';
            width: calc(100% + 128px);
            height: 64px;
            position: absolute;
            left: 0;
            background-color: map-get($colors, "grey-1");
            border-top: 1px solid map-get($colors, "grey-2");
            z-index: -1;
            transform: translate3d(-64px, -20px, 0px);
        }

        strong {
            color: map-get($colors, "primary-dark-1");
            margin-right: 50px;
            font-weight: 300;
        }

        .amount {
            font-weight: 500;
        }
    }



    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button {
            &:first-child {
                width: 100%;
                max-width: 330px;
                justify-content: center;
            }

            &:last-child {
                margin-top: 10px;
            }
        }
    }
}