.block-launch-two-images {
    position: relative;

    @include mq($until: md) {

        &__img-wrap {
            padding: 0 !important;

            &:last-of-type {
                margin-top: 20px;
            }
        }
    }

    &__img {
        min-height: 700px;
        height: 100%;
        
        @include mq($until: md) {
            min-height: 325px;
        }

        picture {
            height: 100%;
        }
    }

    .infobox {
        max-width: 420px;
        padding: 40px;
        background-color: map-get($colors, "white");
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include mq($until: md) {
            max-width: 100%;
            margin: 0 20px;
            padding: 30px;
            left: 0;
            transform: translate(0, -50%);
        }
    }
}
