.carousel-hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;

    @include mq($until: md) {
        margin-bottom: 0;
        padding-bottom: 35px;
        overflow: hidden;
    }

    &__slide {
        @include mq($until: md){
            overflow: hidden;
        }

        &:first-child {
            .lb-picture {
                img {
                    opacity: 1;
                }
            }
        }

        .hero {
            .infobox {
                &__text-wrap {
                    margin-bottom: unset;
                }
            }
        }
    }

    &.swiper {
        .swiper-slide {
            &:not(.swiper-slide-active){
                opacity: 0 !important;
            }
        }
        
        .swiper-pagination.swiper-pagination-bullets {
            @include mq($until: md) {
                bottom: 0;
            }
        }
    }
}
