.swiper {
    .swiper-pagination {
        &.swiper-pagination-bullets {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 12px;

            @include mq($until: md) {
                bottom: -35px;
            }

            .swiper-pagination-bullet {
                margin: 0 6px;
                background: map-get($colors, "grey-2");
                opacity: 1;
                transform: scale(0.63);
    
                &.swiper-pagination-bullet-active {
                    background: map-get($colors, "secondary");
                    transform: scale(1.5);
                    transition: $transition-base;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            font-size: rem(22);
            color: map-get($colors, "black");
        }
    }
}
