{% set criticalCss = fn(['ThemeSetup', 'revision_files'], 'css/critical.css') %}
{% set criticalCssProd = '/css/critical.css' %}
{% set mainCss = fn(['ThemeSetup', 'revision_files'], 'css/main.css') %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Custom meta -->
        {% block meta %}{% endblock %}
        <!-- / Custom meta -->

		<!-- Mobile meta -->
		<meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
        <!-- / Mobile meta -->

		<link rel="preload" as="style" href="{{ mainCss }}">

        <style>{{source('@bundle' ~ criticalCssProd)}}</style>

		<link rel="stylesheet" data-deferStart="true" data-href="{{ mainCss }}" media="all">
        
        <!-- Custom Head -->
        {% block head %}{% endblock %}
        <!-- / Custom Head -->
    </head>
    <body>
        <!-- Main content -->
        <main id="content" class="container text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
