.lovelabo {

    .lovelabo {
        &__infobox {
            margin-bottom: 70px;

            @include mq($until: md) {
                margin-bottom: 30px;
            }
        }

        &__grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
        }

        &__img {
            width: 160px;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
            
            .lb-picture {
                width: 160px;
                height: 160px;
                position: relative;
            }

            .p-small {
                margin-top: 20px;
            }
        }
    }

    &--default {
        .lovelabo {
            &__img {
                margin-bottom: 20px;

                &:nth-child(n+3) {
                    margin-bottom: 0;
                }
                
                @include mq($until: md) {
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
            }
        }
    }

    &--full {
        .lovelabo {
            &__grid {
                @include mq($until: md) {
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    white-space: nowrap;
                    touch-action: pan-x;
                    cursor: grab;
                }
            }

            &__img {
                .p-small {
                    white-space: initial;
                }
            }
        }
    }
}
