.lovelabo {

    .lovelabo {
        &__infobox {
            margin-bottom: 70px;

            @include mq($until: md) {
                margin-bottom: 30px;
            }
        }

        &__grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 30px;
            position: relative;
        }

        &__img {
            .lb-picture {
                width: 160px;
                height: 160px;
                position: relative;
            }

            .p-small {
                margin-top: 20px;
            }
        }
    }

    &--default {
        .lovelabo {
            &__img {
                @include mq($until: md) {
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
            }
        }
    }

    &--full {
        .lovelabo {
            &__grid {
                // .row {
                    @include mq($until: md) {
                        flex-wrap: nowrap;
                        overflow-x: scroll;
                        white-space: nowrap;
                        touch-action: pan-x;
                        cursor: grab;
                    }
                // }
            }

            &__img {
                width: 160px;

                .p-small {
                    white-space: initial;
                }
            }
        }
    }
}
