$border-radius: rem(5px);
$button-padding: rem(16px 24px);
$button-small-padding: rem(8px 16px);
$button-big-padding: rem(24px 32px);

// UI KIT VARIABLES
$buttonsVariablesToCSSClasses: (
  "btn-primary-default": ".button-primary",
  "btn-primary-hover": ".button-primary:hover",
  "btn-primary-disabled": ".button-primary:disabled",

  "btn-secondary-default": ".button-secondary",
  "btn-secondary-hover": ".button-secondary:hover",
  "btn-secondary-disabled": ".button-secondary:disabled",

  "btn-tertiary-default": ".button-tertiary",
  "btn-tertiary-hover": ".button-tertiary:hover",
  "btn-tertiary-disabled": ".button-tertiary:disabled",

  "btn-quaternary-default": ".button-quaternary",
  "btn-quaternary-hover": ".button-quaternary:hover",
  "btn-quaternary-disabled": ".button-quaternary:disabled",
);
$buttonsPropertyList: (
  "background-color",
  "border-radius",
  "border",
  "color",
  // "padding",
  // "opacity"
  "text-transform"
);

// END UI KIT VARIABLES

.button,
.button-small,
.button-big {
  @include reset-button();

  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  .lb-icon {
    margin-left: 10px;
  }
}

.button {
  padding: $button-padding;
}

.button-small {
  padding: $button-small-padding;
}

.button-big {
  padding: $button-big-padding;
}

.button-quaternary {
    padding-left: 0;
    padding-right: 0;
    
    .button__label {
        font-weight: 600;
    }
    
    .lb-icon {
        color: map-get($colors, "secondary");
        transition: all 0.2s;

        svg {
            height: 10px;
        }
    }

    &:hover {
        .lb-icon {
            transform: translateX(5px);
            transition: all 0.2s;
        }
    }
}

// .button-link {}

.button-thin {
    .button__label {
        font-weight: 300;
        font-size: rem(13);
    }
}



.button-primary,
.button-secondary,
.button-tertiary {
    overflow: hidden;

    .button__label {
        position: relative;
        overflow: hidden;

        & > span {
            display: block;
            transition: opacity .5s cubic-bezier(0.4, 0, 0, 1),transform .8s cubic-bezier(0.4, 0, 0, 1);

            &:nth-of-type(2) {
                opacity: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                transform: translate3d(0, 100%, 0);
            }
        }

    }

    &:hover {
        .button__label {
            & > span {
                &:nth-of-type(1) {
                    opacity: 0;
                    transform: translate3d(0, -100%, 0);
                }

                &:nth-of-type(2) {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.lb-button-group {
    display: flex;
    align-items: center;

    @include mq($until: md) {
        flex-direction: column;
        justify-content: center;
    }

    .button {
        &:nth-child(odd) {
            margin-right: 30px;
        }

        &.button-primary {
            flex: 1;
            justify-content: center;
        }
    }
}

@include generate-rules($buttonsVariablesToCSSClasses, $buttonsPropertyList, $componentsVariables);
