.card {

    .card-img {
        position: relative;
        margin-bottom: 20px;
    }

    .card-date {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 10px;
        padding: 0 3px;
        background-color: map-get($colors, "white");
        font-size: rem(11);
        font-weight: 300;
        line-height: rem(16);
        color: map-get($colors, "primary-dark-1");
    }



    &--type-1 {
        .card-img {
            height: 340px;

            @include mq($until: md) {
                height: 200px;
                margin-bottom: 0;
            }
        }
    
        .infobox {
            &__tagline {
                margin-bottom: 20px;
            }
    
            &__subtitle {
                font-size: rem(20);
                font-weight: 400;
                line-height: rem(25);
                text-transform: unset;
            }
        }
    }

    &--type-1-secondary {
        .card-img {
            height: 265px;
            margin-bottom: 0;

            @include mq($until: md) {
                height: 265px;
            }
        }

        .infobox {
            @include mq($until: md) {
                text-align: center;
            }

            &__tagline {
                margin-bottom: 20px;

                @include mq($until: md) {
                    margin-top: 20px;
                }
            }
    
            &__subtitle {
                font-size: rem(26);
                font-weight: 600;
                line-height: rem(34);
                text-transform: uppercase;
            }
        }
    }



    &--type-3 {
        .card-img {
            height: 400px;

            @include mq($until: md) {
                height: 230px;
            }
        }
    
        .card-infobox {
            @include mq($until: md) {
                margin: 0 20px;
                text-align: center;
                border-bottom: 1px solid map-get($colors, "grey-2");
            }
        }

        .infobox {
            &__subtitle {
                margin: 0;
            }

            &__paragraph {
                margin: 0;
                margin-top: 20px;
            }

            &__cta {
                margin-top: 15px;
                
                @include mq($until: md) {
                    margin-bottom: 20px;
                }
            }
        }
    }



    &--type-2 {
        .card-img {
            height: 270px;
            margin-bottom: 0;
            background-color: map-get($colors, "white");

            @include mq($until: md) {
                height: 148px;
                // padding: 20px 20px 0 20px;

                .lb-picture {
                    position: relative;
                }

                // .card-date {
                //     margin: 10px 30px;
                // }
            }
        }

        .card-infobox {
            // padding: 20px;
            padding-top: 20px;
            background-color: map-get($colors, "white");

            @include mq($until: md) {
                text-align: center;
            }
        }
    
        .infobox {
            &__subtitle {
                font-size: rem(20);
                font-weight: 400;
                line-height: rem(25);
                text-transform: unset;
                margin-bottom: 20px;

                @include mq($until: md) {
                    font-size: rem(16);
                    line-height: rem(23);
                }
            }

            &__paragraph {
                @include mq($until: md) {
                    font-size: rem(13);
                    line-height: rem(20);
                }
            }

            &__cta {
                @include mq($until: md) {
                    margin-top: 0;
                }

                .button__label {
                    @include mq($until: md) {
                        font-size: rem(13);
                        line-height: rem(20);
                    }
                }
            }
        }
    }



    &--type-5 {
        .card-img {
            height: 410px;

            @include mq($until: md) {
                height: 300px;
            }
        }

        .infobox {
            @include mq($until: md) {
                text-align: center;
            }
        }
    }



    &--type-6 {
        .card-img {
            height: 305px;

            @include mq($until: md) {
                height: 185px;
            }
        }

        .card-infobox {
            @include mq($until: md) {
                margin: 0 20px;
                text-align: center;
            }
        }
    
        .infobox {
            &__subtitle {
                font-size: rem(20);
                font-weight: 400;
                line-height: rem(25);
                text-transform: unset;
                margin-bottom: 20px;
            }

            &__paragraph {
                font-weight: 300;
                color: map-get($colors, "primary-dark-1");
            }
        }
    }



    &--type-7 {
        .card-img {
            height: 160px;

            @include mq($until: md) {
                height: 120px;
            }
        }

        .infobox {
            &__paragraph {
                opacity: 0.7;
            }

            img {
                height: 27px;
            }
        }
    }



    &--type-8 {
        padding: 30px;
        background-color: map-get($colors, "primary-light-1");

        .infobox {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }



    &--type-9 {
        padding: 20px;
        border: 1px solid map-get($colors, "grey-2");
        border-radius: 3px;

        .infobox {
            &__subtitle {
                font-size: rem(16);
                font-weight: 400;
                line-height: 1;
                margin-bottom: 20px;
            }

            &__location {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                &__label {
                    margin-left: 8px;
                }
            }

            &__scope {
                margin-bottom: 20px;
            }

            &__location,
            &__scope,
            &__paragraph {
                font-size: rem(14);
                line-height: 1;
            }

            &__location,
            &__paragraph {
                color: map-get($colors, "primary-dark-1");
                line-height: rem(19);
            }

            &__cta {
                margin-top: 20px;

                .button {
                    padding-bottom: 0;
                }
            }
        }
    }



    &--type-10 {
        .card-img {
            height: 400px;

            @include mq($until: md) {
                height: 230px;
            }
        }

        .card-infobox-hover {
            position: absolute;
            top: 0;
            left: 0;
            background-color: map-get($colors, "white");
            opacity: 0;
            visibility: hidden;
            transition: $transition__base-1;
            
            .card-infobox {
                height: 400px;
                display: flex;
                align-items: flex-end;
                padding: 0 30px;

                @include mq($until: md) {
                    height: 230px;
                }
            }
        }
    
        .card-infobox {
            @include mq($until: md) {
                margin: 0 20px;
                text-align: center;
                border-bottom: 1px solid map-get($colors, "grey-2");
            }
        }

        .infobox {
            &__subtitle {
                margin-bottom: 20px;
                text-align: center;
            }

            &__cta {
                @include mq($until: md) {
                    margin-bottom: 20px;
                }
            }
        }

        &:hover {
            .card-infobox-hover {
                visibility: visible;
                opacity: 0.9;
                transition: $transition__base-1;
            }
        }
    }



    &--loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq($until: md) {
            margin-bottom: 60px;
        }

        .card-block-loader {
            background: #eee;
            background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
            border-radius: 5px;
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
            
            &--big {
                width: 100%;
                height: 200px;
                margin-bottom: 30px;
            }

            &--medium {
                width: 80%;
                height: 70px;
                margin-bottom: 15px;
            }

            &--small {
                width: 80%;
                height: 30px;
                margin-bottom: 15px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}



@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
