.lb-cards-grid {
    &__card {
        margin-bottom: 30px;
    }
    
    &--ordered {
        .lb-cards-grid {
            &__row {
                &:not(:first-child) {
                    margin-top: 80px;
                }
            }
        }
    }
}



.lb-posts-grid {
    &__infobox {
        margin-bottom: 40px;
        text-align: center;
    }

    &__cta {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &__list {
        &__item {
            &:not(:last-child) {
                @include mq($until: xl) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
