.infobox {

    img {
        width: auto;
        margin-bottom: 20px;
    }

    &__date {
        font-size: rem(16);
        font-weight: 300;
        color: map-get($colors, "primary-dark-1");
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__tagline {
        font-size: rem(16);
        font-weight: 400;
        color: map-get($colors, "secondary");
        text-transform: uppercase;
    }

    &__title {
        font-weight: 600;
        text-transform: uppercase;
    }

    &__subtitle {
        font-weight: 600;
        text-transform: uppercase;
    }

    &__cta {
        margin-top: 40px;

        @include mq($until: md) {
            margin-top: 20px;
        }
    }
}
