.links-list {
    &__item {
        margin-top: 20px;
    }

    &__label {
        font-size: rem(13);
        font-weight: 300;
        line-height: rem(15);
        color: map-get($colors, "grey-3");
        text-transform: uppercase;
        margin: 0;
    }

    .button {
        margin-top: 10px;
        margin-right: 30px;

        &.button-link {
            padding: 0;
            text-decoration: underline;
        
            .lb-icon {
                margin-left: 0;
                margin-right: 10px;
        
                svg {
                    color: map-get($colors, "secondary");
                }
            }
        }
    }
}
