.lb-multicountry-geolocation {
    .infobox {
        margin-bottom: 15px;
    }
}

.lb-multicountry {
    .infobox {
        margin-bottom: 30px;
    }

    .custom-select {
        text-align: left;
    }

    .button {
        margin-top: 30px;
    }
}
