.lb-separator {
    min-height: 1px;
    margin: 0;
    border: 0;

    &--big {
        padding: 60px 0;

        @include mq($until: md) {
            padding: 50px 0;
        }
    }

    &--medium {
        padding: 30px 0;

        @include mq($until: md) {
            padding: 15px 0;
        }
    }

    &--small {
        padding: 15px 0;

        @include mq($until: md) {
            padding: 10px 0;
        }
    }

    &--container {
        width: calc(100% - 30px);
        margin-right: auto;
        margin-left: auto;
        padding-right: rem(15);
        padding-left: rem(15);
        
        @include mq($from: md) {
            max-width: 720px;
        }

        @include mq($from: lg) {
            max-width: 992px;
        }

        @include mq($from: xl) {
            max-width: 1200px;
        }
    }

    &--line {
        border-bottom: 1px solid map-get($colors, "grey-2");

        &.lb-separator {
            &--big {
                padding-top: 60px;
                padding-bottom: 0;
                margin-bottom: 60px;
        
                @include mq($until: md) {
                    padding-top: 50px;
                    padding-bottom: 0;
                    margin-bottom: 50px;
                }
            }
        
            &--medium {
                padding-top: 30px;
                padding-bottom: 0;
                margin-bottom: 30px;
        
                @include mq($until: md) {
                    padding-top: 15px;
                    padding-bottom: 0;
                    margin-bottom: 15px;
                }
            }
        
            &--small {
                padding-top: 15px;
                padding-bottom: 0;
                margin-bottom: 15px;
        
                @include mq($until: md) {
                    padding-top: 10px;
                    padding-bottom: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
