.lb-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & > svg {
    width: 1.125em;
    height: 1.125em;
    fill: currentColor;
  }

  &[class^="Icon-sort"] > svg,
  &[class*="Icon-sort"] > svg {
    color: map-get($colors, "primary");
    fill: map-get($colors, "grey-3");
  }

  p > &,
  .p > &,
  [class^="p-"]>&,
  [class*="p-"]>& {
    vertical-align: text-top;
  }

  p > &,
  .p > & {
    height: rem(22px);
  }

  .p-small > & {
    height: rem(18px);
  }

  .p-big > & {
    height: rem(30px);
  }

  &__counter {
    min-width: 16px;
    min-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: rem(10);
    font-weight: 500;
    background-color: map-get($colors, "secondary");
    color: map-get($colors, "white");
    border-radius: 100%;

    &:empty {
        display: none;
    }
  }
}

.lb-icon-big {
  font-size: rem(44px);

  @include mq(lg) {
    font-size: rem(50px);
  }
}
